@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url("./imgs/bg-img.jpg");
  background-position: center;
}

.login-box{
  width: 40%;
  background: rgba(225, 225, 225, 0.6);
  padding: 20px;
  transform: translate(75%, 55%);
  border-radius: 20px;
  box-shadow: 0px 0px 15px gray;
}
.login-box h1{
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  text-align: center;
  color: green;
  text-transform: uppercase;
}

.form-control{
  font-size: 17px;
  width: 80%;
  margin: auto;
  height:50px;
  border: none;
  transition: 0.3s;
  background-color: rgb(237, 235, 235);
  border-bottom: 4px solid black;
}
.form-control:focus{
  border: none;
  border-bottom: 4px solid green;
  box-shadow: none;
}
#flexSwitchCheckChecked{
  margin:20px 0px;
}
.form-check-label{
  font-size: 17px;
  margin:20px 0px;
}
.pwdRecovery{
  text-align: center;
}
.btnField{
 margin: 0;
 display: flex;
 justify-content: center;
}
.Btn{
  background-color: green;
  padding: 10px;
  font-size: 17px;
  margin: 14px;
  width: 30%;
  border: 2px solid green;
}
.Btn:hover{
  border: 2px solid darkgreen;
  background-color: darkgreen;
}
.Btn:active{
  border: 2px solid green;
  background-color: white;
  color: green;
}
.Btn:focus{
  border: 2px solid green;
  background-color: white;
  color: green;
  box-shadow: none; 
}
.modal-backdrop{
  height: 0px;
}
.modal-content{
  border-radius: 20px;
background-image: url("./imgs/pexels-oleksandr-tiupa-192136.jpg");
background-position: center;
background-size: cover;
box-shadow: 0px 0px 15px black;
}
.modal-title{
font-family: 'Rubik', sans-serif;
color: white;
  text-align: center;
  padding: 15px;
  font-size: 30px;
}
.close{
  margin-right: 20px;
  border: none;
  background: transparent;
}
.fa-times{
  color: white;
  font-size: 25px;
}
@media all and (max-width: 550px) {
  body{
    background-size:auto;
    background-position:center;
  }
  .login-box{
    width: 100%;
    transform: translate(0%, 70%);
    background-color: white;
    background: rgba(225, 225, 225, 0.6);
    border-radius: 20px;
    box-shadow: 0px 0px 15px gray;
  }
  .login-box h1{
    font-size: 30px;
  }
  .form-control{
    width: 100%;
  }
}